@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
}

html,
textarea,
input,
select { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
	font-size: 16px;
	line-height: 1.5;
    color: #000;
    background: #fafafa;
}

/*
 * Fonts
 */

 h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 400;
	line-height: 1.2;
}

a {
    color: #0e93f9;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a:visited {
    color: #7928CA;
}

a.btn {
    border: solid 1px #e2e2e2;
    background: #FFF;
    color: #000;
    padding: 10px 20px;
    border-radius: 3px;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;

    transition:.2s; 
}

a.btn:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

textarea,
select,
input {    
    border: solid 1px #e2e2e2;
    background: #FFF;
    color: #000;
    border-radius: 3px;    
    border: solid 1px #e2e2e2;
}

select {
    padding: 10px 10px;
}

select b {
    font-weight:600;
}

textarea:hover,
textarea:focus,
select:hover,
input:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}