:root {
    --main-txt-color: #000;
    --margin-btm: 20px;
}

* {
    box-sizing: border-box;
}

body {
    color: #111;
    font: 15px/22px 'Inter', system-ui, sans-serif;
    letter-spacing: -0.004em;
    font-weight: 400;
    font-kerning: normal;
    background: #fafafa;
}

a {
    color: var(--main-txt-color);
    text-decoration: none;
}

a:hover {
    color: #F03009;
}

.feed-content .article-info a {
    font-weight: bold;
}

main > header {
    margin-bottom: 40px;
}

main > header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.07em;
}

main .sub-header {
    border-top: solid 1px var(--main-txt-color);
    border-bottom: solid 3px var(--main-txt-color);
    padding: 10px 0;
    margin: var(--margin-btm) 0;
}

main .sub-header p {
    text-align: center;
    margin: 0;
}

.feeds {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    grid-auto-rows: 0;
}

.feed {
    margin-bottom: var(--margin-btm);
}

.feed-header h2,
.feed-message {
    font-weight: 700;
    margin: 0 10px 0 0;
}

.feed-message {
    text-align: center;
}

.feed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.feed-header hr {
    flex-grow: 1;
    padding: 0;
    border: none;
    border-bottom: solid 1px var(--main-txt-color);
}

.feed-header p {
    width: 100%;
    color: #868686;
}

.feed-header .icon-tabler {
    width: 20px;
    height: 20px;
    stroke-width: 3;
}

.feed-content > article {
    border: solid 1px var(--main-txt-color);
    border-bottom: solid 2px var(--main-txt-color);
    padding: 20px 10px;
    margin-bottom: var(--margin-btm);
}

.feed-content > article h3 {
    margin: 0;
}

.categories {
    margin: 0 0 var(--margin-btm) 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.categories mark {
    font-size: .9em;
    list-style: none;
    font-weight: 400;
    margin: 0px 5px 5px 0;
    padding: 2px 5px;
}

.article-info img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
}

.article-info iframe {
    max-width: 100%;
    margin-bottom: 10px;
}

.article-info blockquote {
    width: 100%;
    border-left: solid 4px #CCC;
    margin: 0;
    padding: 0 0 0 10px;
}

.article-info figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

.article-info pre {
    background: #FAFAFA;
    border: solid 1px #CCC;
    padding: 10px;
    overflow: auto;
}

.article-info > p {
    max-height: 750px;
    overflow-y: auto;
}

.feed-content > article time {
    font-size: .9em;
    color: #868686;
}

#new-feed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-top: solid 3px var(--main-txt-color);
    padding: var(--margin-btm) 0;
    margin: var(--margin-btm) 0 0;
}

#new-feed div:first-child {
    display: flex;
    flex-direction: column;
}

#new-feed div:first-child > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--margin-btm);
}

#new-feed div:first-child > div p {
    margin: 0;
    padding: 0;
}

#news-amount {
    font: 15px/22px 'Inter', system-ui, sans-serif;
    padding: 5px;
    border: none;
    border-bottom: solid 2px var(--main-txt-color);
    background: transparent;
    text-align: center;
    width: 60px;
}

#new-feed .feeds-list {
    padding: 0;
    margin: 0;
}

#new-feed .feeds-list li {
    display: flex;
    list-style: none;
    font-size: .9em;
    word-break: break-all;
}

#new-feed .feeds-list li.error,
#new-feed .feeds-list li.error a {
    color: #F03009;
}

#new-feed .feeds-list li.sucess,
#new-feed .feeds-list li.sucess a {
    color: #26d74d;
}

#new-feed .feeds-list li svg {
    width: 18px;
    margin-right: 5px;
}

textarea {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 700px;
    height: 100px;
    border: solid 1px var(--main-txt-color);
    border-bottom: solid 2px var(--main-txt-color);
    margin-bottom:var(--margin-btm);
    resize: vertical;
}

button {
    font: 15px/22px 'Inter', system-ui, sans-serif;
    cursor: pointer;
    border: none;
    font-weight: 600;
    padding: 5px var(--margin-btm);
}

footer {
    text-align: center;
}

footer h4,
footer h5 {
    margin: 10px 0;
}


@media only screen and (max-width: 1600px) {
    .feeds {
        grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    }
}

@media only screen and (max-width: 1280px) {
    textarea {
        width: 500px;
    }
    .feeds {
        grid-gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}

@media only screen and (max-width: 980px) {
    #new-feed > div {
        padding: 10px;
    }
    #new-feed .feeds-list {
        padding: 0;
    }
    textarea {
        width: 100%;
    }
    .feeds {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

@media only screen and (max-width: 680px) {
    #new-feed {
        flex-wrap: wrap;
    }
    #new-feed > div {
        padding: 10px;
        width: 100%;
    }
    .feeds {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@media only screen and (max-width: 590px) {
    main > header h1 {
        font-size: 3em;
    }
    #new-feed div:first-child > div {
        flex-direction: column;
        align-items: flex-start;
    }
    button {
        margin-top: 20px;
    }
}

@media only screen and (max-height: 500px) {
    .article-info > p {
        max-height: 100vh;
    }
}